* {
	box-sizing: border-box;
}

h1 {
	font-family: Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
}

body {
	background-color: #FFF;

}

p {
	padding: 10px;
	margin: 0;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

section {
	background-color: #999;
	width: 100%;
	height: auto;
	font-family: Helvetica;
	color: black;
	position: relative;
	overflow: auto;
}

#chicken, #beef, #sushi {
	text-align: center;
	width: 100%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 150%;
	margin-bottom: 0;
	padding: 10px;
	padding-bottom: 0;
}

#chicken-div, #beef-div, #sushi-div{
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #000;
}

#header-nav {
  border: 0;
  background-color: #999;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-brand {
  color: #FFFFFF;
  font-size: 1.5em;
}

#nav-list {
  color: #FFF;
}

hr {
  border-color: white;
}

.item {
  color: #FFF;
  font-size: 1.2em;
}